.App {
  text-align: center;
}

:root {
  --main-color: #48cae4;
  --secondary-color: #90e0ef;
  --background-color: #caf0f8;
  --text-color: black;
  --remove-color: #ef233c;
}

body {
  background-image: url("https://4kwallpapers.com/images/wallpapers/macos-monterey-stock-blue-light-layers-5k-4480x2520-5898.jpg");
  width: 100%;
  height: 100%;
}

.Container {
  background-color: var(--background-color);
  border-radius: 2em;
  padding: 2em;
  margin: 3em 2em 3em 2em;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 5px;
}

.s-title-color {
  color: var(--main-color);
}

header {
  display: flex;
  position: relative;
}
.Profile {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 1em;
}

.seperateLine {
  border-top: solid 2px var(--main-color);
}

.card {
  width: 100%;
  height: 100%;
}

.disabled {
  display: none;
}

.abled {
  display: flex;
}

.Card {
  position: relative;
}

.priorityCard {
  border: solid 3px var(--main-color);
}

.check:hover {
  cursor: pointer;
  color: var(--main-color);
}

.priorityStar:hover {
  cursor: pointer;
  color: yellow;
}

.options:hover {
  cursor: pointer;
  color: var(--main-color);
}

.AddBtn:hover {
  cursor: pointer;
  color: var(--main-color);
}
